@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Inter', sans-serif;
}

.h2 {
  font-size: 32px;
}

.h3 {
  font-size: 28px;
  color: #262626;
}

.h4 {
  font-size: 24px;
}

.para {
  font-size: 16px;
  color: #ffffff80;
}

.smallWrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.bigWrapper {
  max-width: 1920px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}
